*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/res/values/secrets.xml
/app/src/test/resources/mock
/app/src/androidTest/resources/mock
/app/src/debug/assets/mock
